/* cores */
/* 
--air-force-blue: #4889aaff;
--frozen-water: #d1e3ddff;
*/

body {
  margin: 0;
  min-height: 100dvh;
  background-color: #333533;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-style: normal;
}

header {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 20px 0;
  background: linear-gradient(to bottom, #0c0c0c, #ffffff00);
  color: #edf2ff;
}

header img {
  border-radius: 50%;
  width: 80px;
  margin-left: 10px;
}

h1 {
  font-family: "Jersey 10", sans-serif;
  text-shadow: #0c0c0c 1px 1px 2px;
   font-size: clamp(2rem, 6vw, 4rem);
  margin-left: 10px;
  letter-spacing: 2px;
}

#sobre {
  color: #edf2ff;
  font-family: "Jersey 10", sans-serif;
  text-align: center;
  margin: 40px;
  text-shadow: #0c0c0c 1px 1px 2px;
  font-size: 2rem;
}

main {
  flex: 1;
}

.projetos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background: #edf2ff;
  padding: 5px;
  margin-bottom: 50px;
  border-radius: 8px;
  width: 200px;
  height: 250px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h3 {
  font-family: "Jersey 10", sans-serif;
  text-align: center;
  color: #242423;
  font-size: clamp(1rem, 1.5vw, 2rem);
  letter-spacing: 2px;
}

footer {
  background-color: #242423;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

#nav1 {
  margin-right: 20px;
  display: flex;
  gap: 15px;
  font-family: "Jersey 10", sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

#nav1 a {
  text-decoration: none;
  color: #edf2ff;
  padding: 4px;
  text-shadow: #0c0c0c 1px 1px 2px;
}

#nav1 a:hover {
  background-color: #edf2ff;
  border-radius: 5px;
  color: #4889aaff;
  transition: 0.5s;
}
